<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> 修改个人信息</title>
     {% load staticfiles %}
<!-- Le styles -->
<link href="{%static "finweb/css/bootstrap-combined.min.css"%}" rel="stylesheet">

   <!--[if lt IE 9]>
		<script src="{%static "finweb/js/html5shiv.js"%}"></script>
	<![endif]-->

	<script type="text/javascript" src="{% static "finweb/js/jquery-2.0.0.min.js" %}"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="{% static "finweb/js/bootstrap.min.js"%}"></script>

    <script type="text/javascript" src="{%static "finweb/js/scripts.js"%}"></script>

</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
            <div>
              <h1>
			  <img src="{%static "finweb/img/logo.png"%}" class="img-circle" width="80" height="80"/>金融证券投资辅助系统 </h1>
            </div>
            <hr>
			<p class="text-left">
			</p>
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<div class="container-fluid">

					   <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a>

                        <a class="brand" href="#">FinTech</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li>
									<a href="{% url 'index'%}">主页</a>
								</li>
								<li>
									<a href="{% url 'stockinfo' %}">个股信息</a>
								</li>
								<li>
									<a href="{% url 'operate' %}">股票操作</a>
								</li>
								<li>
									<a href="{% url 'quant'%}">量化投资</a>
								</li>
								<li class="active">
									<a href="{% url 'userinfo' %}">用户信息管理</a>
								</li>
							</ul>
							<ul class="nav pull-right">
						      <li class="dropdown pull-right">
								  {% if user.is_authenticated %}
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">欢迎，{{ user.username }}</a>
									<ul class="dropdown-menu" >
										<li>
											<a href="{% url 'changepassword' %}">修改密码</a>
										</li>
										<li>
											<a href="{% url 'changeinfo' %}">修改个人信息</a>
										</li>
										<li>
											<a href="{% url 'logout' %}">退出</a>
										</li>
									</ul>
								  {% else %}
								    <a href="#" data-toggle="dropdown" class="dropdown-toggle">登录/注册</a>
									<ul class="dropdown-menu" >
										<li>
											<a href="{% url 'login' %}">登录</a>
										</li>
										<li>
											<a href="{% url 'register'%}">注册</a>
										</li>
									</ul>
								  {% endif %}
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
            <hr>
            <br/>
            <br/>
            <div class="row-fluid">
            <div
            style="border-right: 7px groove;
            border-top: 7px groove;
            background: transprant;
            border-left: 7px groove;
           border-bottom: 7px groove;
            height: 425px"
            align=left
            class="span2">
          <ul class="nav nav-list">
            <li class="nav-header"> 用户信息管理</li>
             <li class="divider"> </li>
            <li> <a href="{% url 'userinfo' %}">个人资料</a> </li>
             <li class="divider"> </li>
            <li class="active"> <a href="{% url 'changeinfo' %}">修改个人信息</a> </li>
            <li> <a href="{% url 'changepassword' %}">修改密码</a> </li>
            <li class="divider"> </li>
            <li> <a href="{% url 'logout' %}">退出登录</a> </li>
          </ul>
        </div>
        <div class="span1"></div>
		<div class="span9"
		style="BORDER-RIGHT: 3px inset;
          BORDER-TOP: 3px inset;
          BACKGROUND: #ffffff;
          BORDER-LEFT: 3px inset;
          height:425px
          BORDER- BOTTOM: 3px inset;
          align=left ">
        <div class="span8">
   <form class="form-horizontal" method="post" action="/finweb/changeinfo/" enctype="multipart/form-data" >
    {% csrf_token %}
    <fieldset>
      <div id="legend" class="">
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h3 class="text-center">修改个人信息</h3>
        <hr>
        <br/>
      </div>
        <div class="span12">
            <div class="span2"></div>
            <div class="span8">
    <div class="control-group">

          <!-- Text input-->
      <label class="control-label" for="id_username">用户名：</label>
          <div class="controls">
              <input id="id_username" maxlength="30" name="username" type="text"  class="input-xlarge" value="{{ info_dic.username }}"/>

            <span class="help-block" style="color:#C03"></span>
              <span class="help-block" style="color:#C03">{{ username_error }}</span>
          </div>
      </div>



    <div class="control-group">
          <label class="control-label">性别：</label>

          <!-- Multiple Checkboxes -->
      <div class="controls">
      <!-- Inline Checkboxes -->
      <label class="inline">
           {% ifequal info_dic.gender "M" %}
        <input type="radio" value="M" name="gender" checked="checked">男
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" value="F" name="gender">女
          {% else %}
           <input type="radio" value="M" name="gender">男
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" value="F" name="gender" checked="checked">女
          {% endifequal %}
      </label>

  </div>

      </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="id_phonenum">手机号：</label>
          <div class="controls">
              <input id="id_phonenum" maxlength="15" name="phonenum" type="text" class="input-xlarge"
              value="{{ info_dic.phonenum }}"/>
           <span class="help-block" style="color:#C03">{{ profileform.phonenum.errors }}</span>
          </div>
      </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="id_birthday">出生日期：</label>
          <div class="controls">
              <input id="id_birthday" name="birthday" placeholder="YYYY-MM-DD" class="input-xlarge" type="DateInput" value="{{ info_dic.birthday }}"/>
               <span class="help-block" style="color:#C03">{{ profileform.birthday.errors }}</span>
          </div>
      </div>
        <div class="control-group">
          <div class="controls">
         <span class="help-block" style="color:#C03">

         </span>

		  </div>
    </div>
        {% ifequal result True %}
        <div id="myAlert" class="alert alert-success">
    	<a href="#" class="close" data-dismiss="alert">&times;</a>
	        <strong>信息修改成功！</strong>
         </div>
        {% endifequal %}
         <div class="control-group">

         <div class="controls" style="dispaly:inline float:right">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-primary" id="sub" type="submit" value="submit">提交</button>
          </div>
      </div>


            </div>
            <div class="span2"></div>
   </div>
    </fieldset>
  </form>

        </div>
        <div class="span4"> </div>
			</div>

      </div>

        </div>
	</div>
</div>

</body>
</html>
