<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>量化投资</title>
     {% load staticfiles %}
<!-- Le styles -->
<link href="{%static "finweb/css/bootstrap-combined.min.css"%}" rel="stylesheet">

   <!--[if lt IE 9]>
		<script src="{%static "finweb/js/html5shiv.js"%}"></script>
	<![endif]-->

	<script type="text/javascript" src="{% static "finweb/js/jquery-2.0.0.min.js" %}"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="{% static "finweb/js/bootstrap.min.js"%}"></script>

    <script type="text/javascript" src="{%static "finweb/js/scripts.js"%}"></script>

</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
            <div>
              <h1>
			  <img src="{%static "finweb/img/logo.png"%}" class="img-circle" width="80" height="80"/>金融证券投资辅助系统 </h1>
            </div>
            <hr>
			<p class="text-left">
			</p>
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<div class="container-fluid">

					   <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a>

                        <a class="brand" href="#">FinTech</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li>
									<a href="{% url 'index'%}">主页</a>
								</li>
								<li>
									<a href="{% url 'stockinfo' %}">个股信息</a>
								</li>
								<li >
									<a href="{% url 'operate' %}">股票操作</a>
								</li>
								<li class="active">
									<a href="{% url 'quant'%}">量化投资</a>
								</li>
								<li>
									<a href="{% url 'userinfo' %}">用户信息管理</a>
								</li>
							</ul>
							<ul class="nav pull-right">
						      <li class="dropdown pull-right">
								  {% if user.is_authenticated %}
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">欢迎，{{ user.username }}</a>
									<ul class="dropdown-menu" >
										<li>
											<a href="{% url 'changepassword' %}">修改密码</a>
										</li>
										<li>
											<a href="{% url 'changeinfo' %}">修改个人信息</a>
										</li>
										<li>
											<a href="{% url 'logout' %}">退出</a>
										</li>
									</ul>
								  {% else %}
								    <a href="#" data-toggle="dropdown" class="dropdown-toggle">登录/注册</a>
									<ul class="dropdown-menu" >
										<li>
											<a href="{% url 'login' %}">登录</a>
										</li>
										<li>
											<a href="{% url 'register'%}">注册</a>
										</li>
									</ul>
								  {% endif %}
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
            <hr>
            <br/>
            <br/>
            <div class="row-fluid">
            <div
            style="border-right: 7px groove;
            border-top: 7px groove;
            background: transprant;
            border-left: 7px groove;
           border-bottom: 7px groove;
            height: 425px"
            align=left
            class="span2">
          <ul class="nav nav-list">
            <li class="nav-header">量化投资 </li>
             <li class="divider"> </li>
            <li class="active"> <a href="{% url 'quant' %}">选择组合</a> </li>
              <li class="divider"> </li>
            <li> <a href="{% url 'factor_analysis' %}">多因子分析</a> </li>
             <li class="divider"> </li>
			  <li> <a href="{% url 'stock_ratio' %}">投资建议</a> </li>
			    <li class="divider"> </li>

          </ul>
        </div>
        <div class="span1"></div>
		<div class="span9"
		style="BORDER-RIGHT: 3px inset;
          BORDER-TOP: 3px inset;
          BACKGROUND: #ffffff;
          BORDER-LEFT: 3px inset;
          height:425px
          BORDER- BOTTOM: 3px inset;
          align=left ">
        <div class="span11">

         <div id="legend" class="">
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h3> &nbsp; &nbsp; &nbsp; &nbsp;选择组合</h3>
        <hr>
        <br/>
      </div>


    <div class="control-group">

          <!-- Text input-->
        <br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	{% if portfolio_list %}
				<select id="portfolio_select" class="input-small" name="portfolio"  onchange="port_change(this.options[this.options.selectedIndex].value)">
					    {% for p_list in portfolio_list %}
         			    <option value="{{ p_list.name }}">{{ p_list.name }}</option>
					    {% endfor %}
				</select>

		        <br/><br/>

				  <table class="table table-hover table-striped table-condensed">
			  <thead>
			  <tr>
				  <th>        </th>
            	  <th>昨收</th>
				  <th>市净率</th>
				  <th>净利润同比</th>
				  <th>总资产增长率</th>
				  <th>净资产增长率</th>
				  <th>营业收入增长率</th>
				  <th>净利润增长率</th>
				  <th>每股收益增长率</th>


			  </tr>
               </thead>
   			<tbody id="container">


           </tbody>
		  </table>


				{% else %}
		       <span> 还没有组合</span>
				<a class="btn" href="{% url 'add_portfolio' %}">创建</a>
				{% endif %}


      </div>


        </div>

        <div class="span1"> </div>
			</div>

      </div>

        </div>
	</div>
</div>
<script src="{% static "finweb/js/quant.js" %}?ver=1"></script>
</body>
</html>
